<div class="main">
    <div class="inner">
        <form class="LoginForm" action="#" id="log">
            <h2>LOGIN</h2>
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <input type="text" class="txt" id="input-field" placeholder="Username" required><br>
            <i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" class="txt" placeholder="Password" required><br>
            <input type="button" class="btn" onclick="highlight()" value="LOGIN"><br>
            <a href="#" class="forgot">forgot password!</a><br><br><br>
            <input type="button" class="btn" onclick="show()" value="REGISTER">
        </form>

        <form class="RegForm" action="reg.php" method="post" id="reg">
            <h2>REGISTER</h2>
            <input type="text" class="txt" placeholder="First Name" name="fname" id="fname" required>
            <input type="text" class="txt" placeholder="Last Name" name="lname" id="lname" required>
            <input type="Email" class="txt" placeholder="Email" name="email" id="email" required>
            <input type="password" class="txt" placeholder="Password" required>
            <input type="password" class="txt" placeholder="Confirm Password" name="password" id="password" required><br>
            <input type="button" class="btn" value="SUBMIT"><br>
            <input type="button" class="btn2" onclick="myfunc()" value="I have an account">
        </form>
    </div>
    <div class="back">

    </div>
</div>